<launch>
  <!-- Map root and name-->
  <arg name="map_root" default="$(env HOME)/cartographer_ws/map/" />
  <arg name="map_date_time" default="2024-09-03_14-58-53" />

  <arg name="pbstream_file" default="$(arg map_root)/$(arg map_date_time)/$(arg map_date_time).pbstream" />
  <arg name="yaml_file" value="$(arg map_root)/$(arg map_date_time)/$(arg map_date_time).yaml" />
  <arg name="load_state_filename" default="$(arg pbstream_file)"/>

  <!-- Start lidar -->
    <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>

  <!-- Run move_base
    <node pkg="move_base" type="move_base" name="move_base">
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find wpb_home_tutorials)/nav_lidar/local_costmap_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <param name="base_local_planner" value="wpbh_local_planner/WpbhLocalPlanner" />
        <remap from="cmd_vel" to="cmd_vel_x" />
    </node>
  -->

  <!-- Start map_server --> 
  <node name="map_server" pkg="map_server" type="map_server"
      args="$(arg yaml_file)" /> 

  <!-- Start cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename tmrobot_nav.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
      <remap from="scan" to="scan_master" />
  </node>

  <!-- Start rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

</launch>